<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Введите поисковой запрос: </label>
    <input type="text" id="query" name="query"/>
    <input type="submit" value="Искать!"/>
</form>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
</div>
<br/>
<hr/>
<a href="/books"> Полный список книг</a>

</body>
</html>